@import "~antd/dist/antd.css";

.App {
  min-height: 100vh;
  padding: 60px 15px;
}
.page-content {
  margin: 0 auto;

  @media (min-width: 1150px) {
    max-width: 80%;
    min-width: 1150px;
  }
}

.left-content,
.right-content {
  border: 1px solid #404040;
  width: 100%;
}
.left-content,
.todo-list-box {
  padding: 48px;
}
.title {
  text-align: center;
  margin-bottom: 48px;
}
.add-task-wrap .ant-input-border,
.ant-input-border .ant-input,
.ant-picker.duedate-date-picker {
  border: 2px solid #404040;
  &:focus {
    border-color: #d9d9d9;
    outline: none;
  }
}

.ant-picker.duedate-date-picker {
  padding: 0 8px 0 0;
  width: 100%;
}
#addTask_dueDate {
  border-right: 2px solid #404040;
  margin-right: 5px;
  padding: 4px 11px;
}
.form-piority {
  .ant-select-selector {
    border: 2px solid #404040 !important;
    height: 100%;
  }
  .ant-select-arrow > span {
    color: #404040;
  }
}

// List Task
.todo-list-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-task {
  margin-bottom: 18px;
  .ant-input-group-addon {
    display: none;
  }
}
.list-task-wrap .task-item-wrap {
  border: 1px solid #404040;
  border-bottom: none;
  margin-bottom: 24px;
  .add-task-wrap,
  .content-wrap {
    padding: 16px;
    border-bottom: 1px solid #404040;
  }
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .task-title .ant-checkbox-wrapper {
      align-items: center;
      > span {
        font-size: 16px;
        top: 0;
      }
    }
    .task-actions-wrap {
      flex: 0 0 205px;
      .btn-detail,
      .btn-remove {
        font-size: 12px;
        width: 90px;
      }
      .btn-detail {
        margin-right: 24px;
      }
    }
    @media (max-width: 768px) {
      flex-wrap: wrap;
      .task-title {
        flex: 0 0 100%;
        margin-bottom: 12px;
      }
    }
  }
}
// bulk action
.bulk-action-wrap {
  padding: 24px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-done {
    margin-right: 24px;
  }
  .btn-done,
  .btn-remove {
    width: 120px;
    height: 38px;
  }
}
// style btn
.btn-item {
  border-radius: 5px;
  color: #ffffff !important;
  border: none !important;
  &:hover {
    opacity: 0.7;
  }
}
.btn-add-task {
  width: 100%;
  background: #5db85b !important;
  border: #5db85b !important;
}
.btn-detail {
  background: #00bcd4 !important;
}
.btn-remove {
  background: #d9534f !important;
}
.btn-done {
  background: #2196f3 !important;
}
// checkbox
.ant-checkbox-checked .ant-checkbox-inner {
  background: transparent;
  border-color: #404040;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #404040;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  background: transparent;
  border-color: #404040;
}
